<div class="home">
  <div class="title">
    <span>
      计划列表
    </span>
  </div>
  <div class="todo-content">
    <div class="card">
      <div class="card-title">
        计划做
        <div>
          <button
            mat-icon-button
            color="primary"
            (click)="openCreateDialog()"
            aria-label="Example icon button with a vertical three dot icon"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <mat-card>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[processList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="nothing" *ngIf="todo.length === 0">
            什么都没有
          </div>
          <mat-card
            class="example-box starting-box"
            [class.low]="item.type.value === 0"
            [class.normal]="item.type.value === 1"
            [class.hight]="item.type.value === 2"
            *ngFor="let item of todo"
            cdkDrag
          >
            <span class="box-text">{{item.text}}</span>
            <div class="actions">
              <div
                *ngIf="item.priority.value === 0"
                class="status-btn low-btn"
                aria-label="Example icon button with a vertical three dot icon"
              >
                <span class="material-icons">
                  upgrade
                </span>
              </div>
              <div
                color="accent"
                *ngIf="item.priority.value === 1"
                class="status-btn normal-btn"
                aria-label="Example icon button with a vertical three dot icon"
              >
                <span class="material-icons">
                  upgrade
                </span>
              </div>
              <div
                class="status-btn high-btn"
                *ngIf="item.priority.value === 2"
                aria-label="Example icon button with a vertical three dot icon"
              >
              <span class="material-icons high1">
                expand_less
              </span>
              <span class="material-icons high2">
                expand_less
              </span>
            </div>
              <span class="time">
                {{item.time}}
              </span>
            </div>
          </mat-card>
        </div>
      </mat-card>
    </div>
    <div class="card">
      <div class="card-title">
        正在做
      </div>
      <mat-card>
        <div
          cdkDropList
          #processList="cdkDropList"
          [cdkDropListData]="process"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="nothing" *ngIf="process.length === 0">
            你已经完成了所有任务！
          </div>
          <mat-card
            class="example-box process-box"
            [class.low]="item.type.value === 0"
            [class.normal]="item.type.value === 1"
            [class.hight]="item.type.value === 2"
            *ngFor="let item of process"
            cdkDrag
          >
            <span class="box-text">{{item.text}}</span>
            <div class="actions">
              <div
                *ngIf="item.priority.value === 0"
                class="status-btn low-btn"
                aria-label="Example icon button with a vertical three dot icon"
              >
                <span class="material-icons">
                  upgrade
                </span>
              </div>
              <div
                color="accent"
                *ngIf="item.priority.value === 1"
                class="status-btn normal-btn"
                aria-label="Example icon button with a vertical three dot icon"
              >
                <span class="material-icons">
                  upgrade
                </span>
              </div>
              <div
                class="status-btn high-btn"
                *ngIf="item.priority.value === 2"
                aria-label="Example icon button with a vertical three dot icon"
              >
              <span class="material-icons high1">
                expand_less
              </span>
              <span class="material-icons high2">
                expand_less
              </span>
            </div>

              <span class="time">
                {{item.time}}
              </span>
            </div>
          </mat-card>
        </div>
      </mat-card>
    </div>
    <div class="card">
      <div class="card-title">
        已完成
      </div>
      <mat-card>
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[processList, todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="nothing" *ngIf="done.length === 0">
            什么都没有
          </div>
          <mat-card
            class="example-box done-box"
            [class.low]="item.type.value === 0"
            [class.normal]="item.type.value === 1"
            [class.hight]="item.type.value === 2"
            *ngFor="let item of done"
            cdkDrag
          >
            <span class="box-text">{{item.text}}</span>
            <div class="actions">
              <div
                *ngIf="item.priority.value === 0"
                class="status-btn low-btn"
                aria-label="Example icon button with a vertical three dot icon"
              >
                <span class="material-icons">
                  upgrade
                </span>
              </div>
              <div
                color="accent"
                *ngIf="item.priority.value === 1"
                class="status-btn normal-btn"
                aria-label="Example icon button with a vertical three dot icon"
              >
                <span class="material-icons">
                  upgrade
                </span>
              </div>
              <div
                class="status-btn high-btn"
                *ngIf="item.priority.value === 2"
                aria-label="Example icon button with a vertical three dot icon"
              >
              <span class="material-icons high1">
                expand_less
              </span>
              <span class="material-icons high2">
                expand_less
              </span>
            </div>
              <span class="time">
                {{item.time}}
              </span>
            </div>
            <button class="delete-btn" (click)="deleteFromDone(item)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-card>
        </div>
      </mat-card>
    </div>
  </div>
</div>
